@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #20242d;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

span,
.primary-color{
    background-image: linear-gradient(to right, #418fd8,#8fbdda);
    -webkit-background-clip: text;
    color: transparent;
}

.bg-primary-color{
    background-image: linear-gradient(to right, #6b2b72, #a5079d);
}